
<div class="uk-vertical-align uk-text-center uk-height-1-1">
  <div style="width: 300px" class="uk-vertical-align-middle">
    <h1>Sign In</h1>
    <form novalidate="novalidate">
      <div class="uk-form-row">
        <input type="text" placeholder="Email or Phone Number" class="uk-form-large"/>
      </div>
      <div class="uk-form-row">
        <input type="password" placeholder="Password" class="uk-form-large"/>
      </div>
      <div class="uk-form-row">
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom uk-button-success">Sing In</button>
      </div>
    </form><a href="#">Forgot your password ?</a>
    <ul class="uk-display-inline">
      <li><a href="#">G+</a></li>
      <li><a href="#">F</a></li>
      <li><a href="#">T</a></li>
      <li><a href="#">B</a></li>
    </ul>
    <p>or Register new account</p>
  </div>
</div>