body {
  font-family: 'Ubuntu', sans-serif !important;
  background: url("../images/bg.jpg");
  padding-top: 20px !important;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  -webkit-touch-callout: none /* prevent callout to copy image, etc when tap to hold */;
  -webkit-text-size-adjust: none /* prevent webkit from resizing text to fit */;
  -webkit-user-select: none /* prevent copy paste, to allow, change 'none' to 'text' */;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
.uk-navbar {
  background: transparent;
}
.uk-navbar-nav > li > a {
  color: #fff;
}
.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li > a:focus {
  background: transparent;
  color: #fff;
}
